<h1>Projects</h1>

<div class='row'>
  <% @projects.each do |project| %>
  <div class='col-md-4'>
    <div class="well">
      <%= image_tag project.image.url, width: '150', height: '150' if !project.image.blank? %>
      <h1><%= link_to project.name, project.deploy_url, target: '_blank' %></h1>
      <%= link_to 'source code', project.source_url %><br />
      <%= project.description %><br />
      <%= link_to 'Show', project, class: 'btn btn-success' %>
      <%= link_to 'Edit', edit_project_path(id: project.id), class: 'btn btn-warning' %>
      <%= link_to 'Delete', project, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>
</div>
<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
