<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      nav a, nav a:hover {
        margin: 5px;
        vertical-align: top;
        font-size: 45px;
        text-decoration: none;
      }
      nav {
        background-color: black;
      }
      .img {
        width: 200px;
        height: 100px;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, and Opera */
        transform: rotate(90deg);
        position: relative;
      }
    </style>
  </head>

  <body>
    <div class='container'>
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', home_about_path %>
        <div class='pull-right'>
        <%= link_to 'FaceBook Post', 'https://m.facebook.com/techtalentsouth/photos/a.735350673313655.1073741833.173544676160927/752282428287146/?type=3&source=54', target: '_blank' %>
      </div>
      </nav>
      <% if !notice.nil? %>
        <p id='notice' class='alert alert-info'><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
    <script>
      $('.toggle').click(function() {
        $('.img').toggle(1000);
      });
    </script>
  </body>
</html>
