<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      nav a, nav a:hover {
        margin: 5px;
        vertical-align: top;
        font-size: 45px;
        text-decoration: none;
      }
      nav {
        background-color: black;
      }
      .img {
        width: 1152;
        height: 2048px;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, and Opera */
        transform: rotate3d(90deg);
      }
    </style>
  </head>

  <body>
    <div class='container'>
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', home_about_path %>
      </nav>
      <% if !notice.nil? %>
        <p id='notice' class='alert alert-info'><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
