<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      nav a, nav a:hover {
        margin: 5px;
        vertical-align: top;
        font-size: 45px;
        text-decoration: none;
      }
      .img {
        width: 200px;
        height: 100px;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, and Opera */
        transform: rotate(90deg);
        position: relative;
      }
      a[role='presentation'] {
        background-color: rgba(255, 0, 0, 0.3);
      }
    </style>
  </head>

  <body>
    <div class='container'>
      <ul class='nav nav-tabs'>
        <li><%= link_to 'Projects', root_path, role: 'presentation' %></li>
        <li><%= link_to 'About Me', home_about_path, role: 'presentation' %></li>
        <li><%= link_to 'Interview', home_interview_path, role: 'presentation' %></li>
        <li><%= link_to '1st Day in Class', 'https://m.facebook.com/techtalentsouth/photos/a.735350673313655.1073741833.173544676160927/752282428287146/?type=3&source=54', target: '_blank', role: 'presentation' %></li>
      </ul>
      <% if !notice.nil? %>
        <p id='notice' class='alert alert-info'><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
    <script>
      $('.toggle').click(function() {
        $('.img').toggle(1000);
      });
    </script>
  </body>
</html>
